@import '../../styles/imports';

.container {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.card {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  position: relative;
  padding: 0.5rem;
}
