@import '../../styles/imports';

.page {
  @include page-layout();
  @include page-gutter();
}

.backLink {
  padding-top: 40px;
  padding-left: 45px;
  font-size: 1.2rem;

  svg {
    height: 100%;
    vertical-align: sub !important;
  }

  a {
    @include nav-link();
  }
}
