@import '../../styles/imports';

@mixin showElement() {
  bottom: 15px;
  opacity: 1;
  visibility: visible;
}

.hoverContent {
  position: absolute;
  color: get-color('component', 'content--hover');
  margin: 0;
  padding: 5px;
  bottom: 15px;

  @include breakpoint(sm) {
    bottom: -15px;
    transition: all 0.1s linear;
    opacity: 0;
    visibility: hidden;

    &:hover {
      @include showElement();

      background-color: get-color('component', 'background--hover', 0.2);
    }
  }
}

.link {
  @include breakpoint(sm) {
    &:hover ~ .hoverContent {
      @include showElement();
    }
  }
}

.cardOwner {
  left: 15px;
}

.likeIcon {
  right: 15px;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
}
