@import '../helpers/index';

.button {
  width: 100%;
  font-size: 16px;
  padding: 16px 20px;
  border: 0;
  border-radius: 0;
  color: get-color('button', 'text');
  line-height: 18px;
  position: relative;
  cursor: pointer;

  &--small {
    font-weight: 400;
    font-size: 14px;
    padding: 8px 10px;
  }

  &--success {
    @include button-color(get-color('button', 'success'));
  }

  &--clear {
    background-color: get-color('button', 'clear');
    pointer-events: none;
  }

  &--thin {
    width: initial;
    padding: 5px 20px;
  }
}
