@import '../helpers/index';

.dropdown {
  &--button {
    @include nav-link();

    padding: 0;
    border: none;
    background-color: initial;
    font-size: 16px;
  }

  &--trigger {
    cursor: pointer;

    &:hover .avatar {
      border-color: get-color('border', 'base');
      transition: all 0.2s ease;
    }
  }

  &--content {
    z-index: get-z-index('dropdown');

    &__list {
      @include component-structure();

      width: 160px;
      padding: 5px 0;
      margin-top: 8px;
      text-align: left;
      background-clip: padding-box;
      cursor: pointer;
      border-color: get-color('border', 'light');

      li {
        list-style: none;
        padding: 5px 0;

        a,
        button {
          display: block;
          padding: 0 10px;
          width: 100%;
          text-align: left;
          transition: none;
          cursor: pointer;
          color: get-color('text', 'darker');
        }

        &:hover {
          background-color: get-color('secondary', 'base');

          a,
          button {
            color: get-color('button', 'text');
          }
        }

        &.disabled {
          &:hover {
            background-color: get-color('background', 'base');
          }

          a,
          button {
            cursor: default;
            color: get-color('text', 'lighter');
          }
        }
      }
    }
  }
}

// TODO: neseting interpolation not working #{}? fuck sass
li.dropdown--content__list-divider {
  height: 1px;
  margin: 10px;
  padding: 0;
  background-color: get-color('border', 'light');

  &:hover {
    background-color: get-color('border', 'light');
  }
}
