@import '../helpers/index';

.navbar {
  border-bottom: 1px solid get-color('border', 'base');

  a {
    @include nav-link();
  }
}

.navbar--list {
  list-style-type: none;
  padding: 0;

  > li {
    display: inline-block;
    margin: 0 10px;
  }
}
