@import '../../styles/imports';

.page {
  min-height: 70vh;
  margin: $component-outer-margin auto 0;
  padding: 0 50px;
  background-color: get-color('background', 'base');
}

.rightContent {
  @include breakpoint(lg) {
    overflow-y: scroll;
  }

  & > div {
    @include component();

    &:first-child {
      margin-top: 0;
    }
  }
}

.links li {
  list-style-type: none;

  a {
    @include link();
  }
}
