@import '../../styles/imports';

.app {
  @include page-layout();

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  background-color: get-color('background', 'base');

  @include breakpoint(xs) {
    padding: 0;
  }
}

.form {
  background-color: get-color('background', 'base');
}

.formHeader {
  text-align: center;
  background-color: get-color('black');
  color: get-color('white');

  a {
    @include link-override();
    @include logo();
  }
}

.childComponent {
  background-color: get-color('header', 'base');
}

.childComponentIsForm {
  background-color: inherit;
}
