@import '../../styles/imports';

.sidebar {
  list-style-type: none;
  font-size: 1.2rem;
  text-align: left;

  @include breakpoint(lg) {
    padding-top: 50px;
  }

  a {
    @include nav-link();
  }

  li {
    padding-top: 10px;
    padding-left: 30px;
    border-left: 2px solid get-color('border', 'base');
    transition: all 0.2s ease;

    &:first-child {
      padding-top: 0;
    }

    &.active {
      border-left: 2px solid black;

      a {
        color: get-color('text', 'base');
      }
    }
  }
}
