@import '../../styles/imports';

.page {
  @include page-layout();
  @include page-gutter();

  background-color: get-color('background', 'base');
}

.links li {
  list-style-type: none;

  a {
    @include link();
  }
}

.community {
  padding-top: 16px;
}
