@import '../../styles/imports';

.footer {
  border-top: 1px solid get-color('border', 'base');
  background-color: get-color('footer', 'base');
  font-size: 0.8rem;
  color: get-color('text', 'white');

  a {
    @include nav-link();

    color: get-color('text', 'white');

    &:hover {
      color: get-color('text', 'light');
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .title {
    @include logo();

    color: get-color('text', 'white');
    font-size: 1.5rem;
  }
}

.wrapper {
  vertical-align: top;
  text-align: center;
  justify-content: center;
  padding: 40px 0;
  margin: auto;

  @include breakpoint(md) {
    width: 900px;
    text-align: initial;
  }
}

.verticalRow {
  margin: 0;
  line-height: 20px;
}

.rightSection {
  padding-top: 20px;

  @include breakpoint(lg) {
    padding-top: 0;
  }

  & > div {
    @include breakpoint(lg) {
      float: right;
    }
  }
}

.socialMediaIcons {
  display: inline-flex;
  margin-top: 0;

  li {
    margin-right: 15px;
    border-right: 1px solid #d6d6d6;
    height: 20px;
    line-height: 21px;
    padding-right: 15px;

    &:last-child {
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

.copyright {
  padding: 0;
}
