@import '../../../../styles/imports';

.component {
  padding: 10px;
  text-align: left;
}

.header {
  margin: 0;

  a {
    font-size: 1.3rem;
    color: get-color('text', 'base');
  }
}

.userActions {
  float: right;
}

.description {
  margin: 10px 0 0;
}
