@import '../../styles/imports';

.page {
  @include page-layout();
}

.links li {
  list-style-type: none;

  a {
    @include link();
  }
}

.aboveContent {
  border-bottom: 1px solid get-color('border', 'base');
}

.verticalComponents > div {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.component {
  height: 100%;
  border: 1px solid get-color('border', 'base');
  background-color: get-color('component', 'base');
}

.mainContent {
  padding: 60px 0 15px;
  background-color: get-color('background', 'base');

  .contentRight {
    margin-left: 15px;

    > div > div {
      padding: 15px;
    }
  }
}
