@import '../../../styles/imports';

.container button {
  @include nav-link();

  padding: 0;
  border: none;
  background-color: initial;
  font-size: 16px;
}

.name {
  cursor: pointer;
}

.dropdownCreation {
  right: 180px;
}

.option {
  .active {
    color: get-color('text', 'base');
  }
}
