@import '../../styles/imports';

.heroTextContainer {
  width: 100%;
  padding-top: 15vh;
  position: absolute;
  text-align: center;
  color: get-color('text', 'lighter');

  @include breakpoint(lg) {
    padding: 35vh 0 0;
  }

  p {
    margin-top: 15px;

    @include breakpoint(sm) {
      max-width: 600px;
      margin: 30px auto 0;
    }
  }
}

.page {
  section {
    width: 100%;
    padding: 80px 0;

    &:nth-child(odd) {
      background-color: get-color('background', 'base');
    }

    p,
    img {
      max-width: 600px;
      margin: 20px auto 0;
      width: 100%;

      @include breakpoint(lg) {
        margin-top: 0;
        width: inherit;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}

.heroImage {
  background-image: url('/img/about.jpg');
  background-size: cover;
  height: 67vh;
  width: 100%;
}
