@import '../variables';

@mixin border($padding: 0, $color: $border-color) {
  border-color: $color;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  background-size: 16px 16px;
  padding: $padding;
}
