@import '../variables';

@mixin breakpoint($range) {
  @if $range == xs {
    @media (max-width: #{$breakpoint-sm-boundary - 1}) { @content; }
  }

  @if $range == sm {
    @media (min-width: $breakpoint-sm-boundary) { @content; }
  }

  @else if $range == md {
    @media (min-width: $breakpoint-md-boundary) { @content; }
  }

  @else if $range == lg {
    @media (min-width: $breakpoint-lg-boundary) { @content; }
  }
}
