@import '../variables';

@mixin button-color($color) {
  background-color: $color;

  &:hover,
  &:focus {
    background-color: lighten($color, 5%);
  }

  &:active {
    background-color: darken($color, 5%);
  }
}
