@import '../variables';

@function get-color(
  $name: 'primary',
  $variant: 'base',
  $opacity: 1
) {
  $color: null;

  $color-spectrum: map-get($__BASE_COLORS__, $name);

  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  $alpha: if(
    type-of($opacity) == 'number',
    $opacity,
    map-get($__OPACITY__, $opacity)
  );

  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}
