@import '../variables';
@import 'breakpoints';
@import 'colors';

@mixin form() {
  @include component();

  padding: $component-inner-padding;

  @include breakpoint(sm) {
    margin: $component-outer-margin auto;
    min-width: calc(30vw);
  }
}

@mixin form-subheader() {
  margin-bottom: 40px;

  h3 {
    font-size: 32px;
    margin-bottom: 0;
  }
}
