@import 'colors';

@mixin link() {
  font-family: Courier, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: get-color('link', 'base');
  text-transform: lowercase;
  line-height: 1.25rem;

  &:hover {
    color: get-color('link', 'hover');
  }
}

@mixin nav-link {
  color: get-color('link', 'darker');
  text-transform: lowercase;
  text-decoration: none;

  &:hover {
    color: get-color('link', 'base');
  }
}

@mixin link-override {
  color: inherit;
  text-decoration: inherit;
}
