@import '../variables';
@import 'colors';

@mixin page-layout() {
  display: flex;
  flex-direction: column;
}

@mixin page-gutter() {
  padding: 0 $page-gutter;
}

@mixin component-structure() {
  border: 1px solid get-color('border', 'base');
  background-color: get-color('component', 'base');
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

@mixin component() {
  @include component-structure();

  margin: $component-outer-margin 0;
  padding: 15px;
}

@mixin logo() {
  color: get-color('logo', 'base');
  text-transform: initial;
  font-size: 32px;
  text-decoration: line-through;
  font-family: 'Courier New', sans-serif;
}
