@import '../../../styles/imports';

.component {
  @include component-structure();

  margin: 0;
  height: 100%;
}

.creation {
  padding: 15px;

  h2 {
    margin: 0;
  }

  p {
    margin: 10px 0 0;
  }
}

.profileImage {
  height: 100%;
  width: auto;
}
