$color-accent: #ce7561;

$__BASE_COLORS__: (
  'accent': (
    'base': $color-accent,
  ),
  'secondary': (
    'base': #575aad,
    'light': #00aeda,
  ),
  'border': (
    'light': #cecece,
    'base': #ededed,
    'dark': mix(#000, #ededed, 10%),
    'focus': #11939a,
  ),
  'background': (
    'base': #fafafa,
  ),
  'header': (
    'base': #fff,
  ),
  'footer': (
    'base': #000,
  ),
  'black': (
    'base': #000,
  ),
  'white': (
    'base': #fff,
  ),
  'text': (
    'white': #fff,
    'lighter': #f1f1f1,
    'light': #b9c1c7,
    'dark': #999,
    'darker': #333,
    'base': #000,
  ),
  'link': (
    'base': #000,
    'darker': #999,
    'hover': mix(#000, #fff, 50%),
  ),
  'component': (
    'base': #fff,
    'background--hover': #fff,
    'content--hover': #fff,
  ),
  'logo': (
    'base': #000,
  ),
  'button': (
    'text': #fff,
    'success': $color-accent,
    'clear': #aaa,
  ),
);

$__OPACITY__: (
  'light': 0.8,
  'dark': 0.4,
);

$__BASE_Z_INDEX__: (
  'dropdown': 100,
);

$page-gutter: 200px;

$component-inner-padding: 50px;
$component-outer-margin: 15px;

$breakpoint-sm-boundary: 48em;
$breakpoint-md-boundary: 64em;
$breakpoint-lg-boundary: 75em;
