// https://github.com/webpack/css-loader#local-scope
/* stylelint-disable selector-pseudo-class-no-unknown */
:global {
  @import '~normalize.css';
  @import '~react-dropzone-component/styles/filepicker';
  @import '~dropzone/dist/min/dropzone.min';
  @import '~react-photoswipe/lib/photoswipe';
  @import '~react-select/dist/react-select';
  @import '~react-simple-dropdown/styles/Dropdown';
  @import 'modules/index';

  * {
    letter-spacing: 0.05rem;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
  }

  .hide {
    display: none;
  }

  textarea {
    width: 100%;
    font-size: 14px;
    margin-bottom: 24px;
    background: #fff;
    padding: 5px;
    border: 1px solid #e5e5e4;
    outline: 0;
    color: get-color('text', 'base');
    height: 125px;
    resize: none;

    &:focus {
      border-color: get-color('border', 'focus');
    }
  }

  a {
    text-decoration: none;
  }
}
