@import '../../styles/imports';

.page {
  @include page-layout();

  background-color: get-color('background', 'base');
}

.formContainer {
  @include form();
}

.subHeader {
  @include form-subheader();
}
