@import '../../styles/imports';

.caret {
  top: 0;
  right: 0;
  left: 105px;
  position: absolute;
  width: 20px;
  height: 9px;
  fill: get-color('background', 'base');
}

.caretBorder {
  stroke: get-color('border', 'light');
  fill: transparent;
}
