.input {
  width: 100%;
  font-size: 14px;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #e5e5e4;
  border-radius: 0;
  outline: 0;
  color: get-color('text', 'base');
  height: 44px;
  text-indent: 20px;
  transition: all 0.4s ease;

  &:focus {
    border-color: get-color('border', 'focus');
  }
}

.checkboxContainer {
  padding: 10px 0;

  input {
    width: initial;
    height: initial;
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.dropdown > div {
  width: 100%;
  font-size: 14px;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #e5e5e4;
  border-radius: 0;
  outline: 0;
  color: get-color('text', 'base');
  height: 44px;
  text-indent: 20px;
  transition: all 0.4s ease;

  &:focus {
    border-color: get-color('border', 'focus');
  }

  // stylelint-disable-next-line selector-pseudo-class-no-unknown
  :global {
    .Select-placeholder,
    .Select-multi-value-wrapper > .Select-value,
    .Select-value-label {
      padding-left: 0;
      line-height: 44px;
      text-align: left;
      color: get-color('border', 'base');
    }
  }
}
