@import '../../../styles/imports';

.card {
  height: 100%;
  position: relative;
  max-width: 1120px;
}

.profileNavbar {
  max-width: 550px;
  position: relative;
  margin: 0 auto;
}

.imageHolder {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.headerPhotoContainer {
  height: 300px;
}

.headerPhoto {
  height: inherit;

  img {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto 0;
    width: 100%;
  }
}

.profileCard {
  padding: 20px;

  h2,
  h4 {
    margin: 0;
  }
}

.names {
  .username,
  .username a {
    color: get-color('text', 'dark');
  }

  .username a {
    text-decoration: none;

    &:hover {
      color: get-color('text', 'base');
      text-decoration: underline;
    }
  }
}

.navbar {
  list-style-type: none;

  // stylelint-disable-next-line no-descending-specificity
  a {
    @include nav-link();
  }

  li {
    display: inline-block;
    white-space: nowrap;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      // stylelint-disable-next-line no-descending-specificity
      a {
        color: get-color('text', 'base');
      }
    }
  }
}

.counts {
  text-align: center;

  .counter {
    font-size: 1.2rem;
  }
}

.divider {
  margin: 15px 0;
  border-bottom: 1px solid get-color('border', 'base');
}

.profileImage {
  bottom: -100px;
  left: 10px;
  position: absolute;

  img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 50%;
    border: 2px solid get-color('border', 'dark');
  }
}

.countLink {
  @include link-override();
}
