@import '../../styles/imports';

.page {
  @include page-layout();

  background-color: get-color('background', 'base');
}

.links li {
  list-style-type: none;

  a {
    @include link();
  }
}

.creationCardImage {
  width: 100%;
  height: auto;
}
