@import '../../../styles/imports';

.settingsTab {
  list-style-type: none;
}

.settingsSection {
  margin-top: 50px;
  border: 1px solid get-color('border', 'base');
  padding: 25px;
}

.cancelDelete {
  margin-right: 10px;
}
