@import '../../styles/imports';

.card {
  @include component();

  margin: 20px;
  padding: 0;
}

.imageHolder {
  padding: 0;
}

.image {
  width: 100%;
  height: auto;
}

.description {
  text-align: left;
  padding: 15px;

  a {
    color: get-color('text', 'base');
    font-size: 1.4rem;
  }

  h5 {
    margin: 10px 0 0;
  }
}
