@import '../../../styles/imports';

.dropdownAccount {
  right: 160px;
}

.dropdownUpload {
  right: 240px;
}

.search {
  width: auto;
  margin-right: 14px;
}

.searchIcon {
  position: relative;
  top: -1px;
  left: 23px;
  font-size: 16px;
  color: get-color('text', 'light');

  &:hover {
    color: get-color('secondary', 'light');
    cursor: pointer;
  }
}

.searchInput {
  @include border(0, get-color('background', 'base'));

  height: 24px;
  width: 250px;
  padding-left: 30px;
  background-color: get-color('background', 'base');
  outline: none;

  &:focus {
    border-color: get-color('secondary', 'light');
    background-color: get-color('background', 'base');
  }
}

.headerMobile {
  display: none;

  a {
    @include nav-link();
  }

  @include breakpoint(xs) {
    display: block;
  }
}

.uploadToggle {
  @include nav-link();

  background-color: initial;
  border: none;
  padding-left: 0;
  text-decoration: underline;
}

.hamburger {
  float: right;
  border: none;
  background-color: initial;
}
