@import '../../styles/imports';

.container {
  @include page-gutter();

  border-bottom: 1px solid get-color('border', 'base');
  background-color: get-color('header', 'base');
}

.header {
  a {
    @include nav-link();

    &.signup {
      color: get-color('text', 'white');
      padding: 8px 20px;
    }
  }

  > div {
    padding: 10px 0;
    text-align: center;
  }

  @include breakpoint(xs) {
    display: none;
  }
}

a.title {
  @include logo();

  top: 8px;
  position: absolute;
}
