@import '../../styles/imports';

.containerPadding {
  padding: 10px;

  &.section {
    border-top: 0;
  }
}

.ellipsisContainer {
  text-align: right;
}

.comment {
  p {
    white-space: pre-wrap;
  }

  @include breakpoint(lg) {
    .ellipsis {
      display: none;

      &.show {
        display: initial;
      }
    }

    &:hover .ellipsis {
      display: initial;
    }
  }
}

.actionsDropdown {
  right: 10px;

  .caret {
    left: 130px;
  }
}
