@import '../../styles/imports';

.avatar {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 1;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid get-color('border', 'light');

  &.large {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
}
